.footer{
    background-color: #938a8a;
    padding: 40px 20px;
    color: #fff;
}
.Container{
    max-width: 1200px;
    margin: 0 auto;
}
.links{
    display: flex;
    gap: 20px;
    font-size: 18px;
    align-items: flex-start;
}

.item h3{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    
}
.item ul li{
    list-style: none;
    margin-bottom: 10px;
}

.download{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
}
.download img{
    width: 150px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
}

.social{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.social img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;

}